
body {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

}

a {
    color: #333;
    text-decoration: none;
}

*::selection {  
    background: #333;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

